.carousel-control-prev-icon {
  background-color: rgba(241, 168, 168, 0.516);
}
.bz-bg-clr {
  background-color: rgba(1, 1, 47, 0.812);
}
.footer-text {
  color: white;
}
.font-s {
  font-size: 8px;
}
.font-s1 {
  font-size: 12px;
}
